/* Estilos Fijos */
#Body{
    background: rgb(235, 235, 246);
}
header{
    background: rgb(48, 48, 49);
    color: rgb(238, 238, 238);
}
/* /Estilos Fijos */
/* Reloj */
#reloj{
    background: rgb(51, 51, 51);
    font-family: "Century Gothic"; 
    height: 16vh;
    font-size:70px;
    color: rgb(181, 212, 241) ; 
    text-align: center;
}
/* /Reloj */
/* Mujer Alarma */
#Mujer_Alarma_Animación{
    height: 35vh;
}
/* /Mujer Alarma */
/* Boton Nueva Alarma */
#BotonNuevaAlarma button{
    position:relative;
    height: 10vh;
    width: 50vh;
    background-color: rgb(221, 16, 16);
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 30px;
    color: wheat;
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 5px 5px 5px rgb(139, 127, 127);
}
#BotonRegresar button{
    position:relative;
    height: 10vh;
    width: 50vh;
    background-color: rgb(221, 16, 16);
    text-decoration: none;
    font-family: 'Oswald';
    font-size: 30px;
    color: wheat;
    -webkit-border-radius: 7px;
    -webkit-box-shadow: 5px 5px 5px rgb(139, 127, 127);
}
#Boton_EnviarAlarma{
    margin-top: 10px;
    background-color: rgb(224, 42, 42);
    -webkit-border-radius: 10px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    -webkit-box-shadow: 5px 5px 5px rgb(139, 127, 127);
}
/* /Boton Nueva Alarma */
/* Sección Agregar alarma (card) */
#Card_AgregarAlarma{
    background-color: rgb(204, 205, 243);
}
/* /Sección Agregar alarma (card) */
/* Selector de hora y minuto en agregar alarma */
.horayminuto{
    width: 20vh;
    margin-right: 3vh;
}
/* /Selector de hora y minuto en agregar alarma */
/* Alarmas pendientes */
#AlarmasPendientesTitulo,#AlarmasPendientesTiempo{
    border-style: groove;
    background-color: rgb(197, 201, 204);
    font-size: 20px;
    color: rgb(37, 37, 37);
    font-family: 'Courier New';
    /* display: flex;
    align-items: center; */
}
#EliminarAlarma buttom{
    display: flex;
    align-items: center;
}
#Alarmas_Html .row{
    border-style:solid;
    border-width: 2px;
    border-color: rgb(144, 144, 146);
    margin-bottom: 5px;
    margin-top: 2px;
    background-color: rgb(224, 224, 228);
}

/* /Alarmas pendientes */


/* Interactividad*/
.hide{
    display: none;
    /* display: inline-block; */
}
.appear{
    display: inline-block;
}
/* / Interactividad*/

/* Estilos propios fijos Raúl Acosta */
/* https://twitter.com/raul_acosta95 */
/* Mi FOOTER */
footer{
    background-color: rgb(20, 20, 20);
    color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
}
footer img{
	margin-left: 30px;
	margin-top: 15px;
}
/* /MI FOOTER */

/* Clases opcionales */
.floatleft{
    float: left;
}
.borderojo{
    border-style: solid;
    border-color: red;
}
/* /Clases opcionales */